.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: white;
  border-style: solid;
  border-color: lightgray;
  border-width: 0.5px;
}
.no-data {
  display: flex;
  flex: 1;
  flex-direction: row;
  border-top-style: solid;
  border-color: #cccaca;
  border-top-width: 0.5px;
  align-items: center;
  justify-content: center;
  padding: 24px 12px 24px 12px;
}
